@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}
body::-webkit-scrollbar{
  width: 4px;
  color: #474444;
  border-radius: 30%;
}

canvas {
  touch-action: none;
}
.swal-modal{
  color: #fff;
}
.swal-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}


